.navbar {
    background-color: #a65b00;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 5px 0; /* Reduced height */
    transition: padding 0.3s ease;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    font-size: calc(0.6em + 1vw);
    display: inline-block;
    transition: background-color 0.2s ease, transform 0.2s ease, letter-spacing 0.2s ease;
}

.navbar ul li a:hover {
    background-color: #d4a017;
    border-radius: 5px;
    transform: scale(1.05); /* Slight zoom on hover */
    letter-spacing: 1px;
}